*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    text-align: center;
    list-style: none;
}

ul li{
    padding: 0.35rem;
    text-align: center;
    background: black;
    color: red;
    border: #fff solid 2px;
}

ul li span {
    color: white;
}

/* -- First-Child -- */
ul li:first-child{
    background: darkblue;
}

/* -- Last-Child -- */
ul li:last-child{
    background: darkslateblue;
}

/* -- nth Child --*/
/* - Ej: pos 3 - */
ul li:nth-child(3){
    background: dimgray !important /*Se tomara preferencia a esta configuracion*/;
}
/* - Ej: cada 3 - */
ul li:nth-child(3n+0){
    background: gold;
}
ul li:nth-child(3n+0) span{
    color: blue;
}

/* - Ej: cada 4 desde el quinto- */
ul li:nth-child(4n+5){
    background: Darkred;
}
ul li:nth-child(3n+0) span{
    color: blue;
}

/* - Tambien existen odd y even - */