*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

.box{
    position: relative;
    margin: auto;
    margin-top: 35vh;
    padding: 1rem;
    width: 200px;
    height: 200px;
    background: #fff;

    animation-name: idle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}
@keyframes idle{
    0%{
        border-radius: 0%;
        top: 0px;
    }
    35%{
        border-radius: 50%;
        top: -225px;
    }
    45%{
        border-radius: 50%;
        top: 225px;
    }
    80%{
        border-radius: 50%;
        top: 0;
    }
    100%{
        border-radius: 0%;
        top: 0;
    }
}