body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    height: 100px;
    width: 100px;
    margin: 3rem;
    background: white;
    /*transform: rotate(25deg);*/
    /*transform: skew(25deg)*/
    /*transform: scale(2);*/
    transition: all 0.25s;
    transition-delay: 0.15s;
}

.box:hover{
    transform: rotate(90deg);
    background-color: rgba(255, 100, 100, 0.9);
}